<!DOCTYPE html>
<html>
<head>
    <title>F1 Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Результаты гонки Формулы-1</h1>

    <div class="controls">
        <label>Год:
            <select id="year-select" onchange="updateEvents()">
                {% for y in years %}
                <option value="{{ y }}" {% if y == current_year %}selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>
        </label>
        <label>Гонка:
            <select id="event-select" onchange="loadResults()">
                {% for e in events %}
                <option value="{{ e }}" {% if e == current_event %}selected{% endif %}>{{ e }}</option>
                {% endfor %}
            </select>
        </label>
    </div>

    <div class="dashboard">
        <!-- Блок с трассой -->
        <div class="track-section">
            <div class="track-container">
                <div class="track-visualization">
                    <svg id="track-svg" width="500" height="500"></svg>
                </div>
                
                <div class="track-stats" id="track-stats">
                </div>
            </div>
        </div>

        <div class="results-section">
            <div id="results">
                {{ table_html|safe }}
            </div>
            <div class="position-chart-container"> 
                <h4>Изменение позиций в гонке</h4>  
                <div id="position-chart"></div>
            </div>
        </div>
    </div>
    <div class="strategy-section">
    <h3>Анализ стратегии</h3>
        <div class="strategy-charts">
            <div class="tyre-strategy-chart">
                <h4>Стратегия по шинам (гонщики в алфавитном порядке)</h4>
                <div id="tyre-strategy-chart"></div>
            </div>
            <div class="pitstop-analysis-chart">
                <h4>Анализ пит-стопов</h4>
                <div id="pitstop-chart"></div>
            </div>
        </div>
    </div>

    <script src="https://cdn.plot.ly/plotly-3.0.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/track_stats.js') }}"></script>
    <script src="{{ url_for('static', filename='js/strategy.js') }}"></script>
</body>
</html>